[submodule "test-talk"]
	path = test-talk
	url = git@github.com:vandalt/reveal.js.git
	branch = test-talk
[submodule "test-talk-2"]
	path = test-talk-2
	url = git@github.com:vandalt/reveal.js.git
	branch = test-talk-2
